<!doctype html>
<!--
Copyright 2019 Embrionix Design Inc.


Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
-->
<style>
p,label {
  color: white;
  
.center_div{
    margin: 0 auto;
    width:33% /* value of your choice which suits your alignment */
}
</style>


<html lang="en">
    <style type="text/css">
       body { background: #343A40 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    </style> 
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Ionixmon v0.1</title>
  </head>
  
  <body>
    <div class="col-md-6" style="background-color: blue"></div>
    <script src="js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="js/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    {% include 'navbar.html' %}
    
    {% block content %}
    <div class="container center_div">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Syslog Target</span>
        </div>
        <input type="text" class="form-control" placeholder={{ config.syslog_target }} aria-describedby="basic-addon1">
      </div>
      
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1" value="True">
        <label class="custom-control-label" for="customCheck1">Enable Syslog</label>
      </div>
    </div>
    {% endblock %}
  </body>
</html>