<!--
Copyright 2019 Embrionix Design Inc.


Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
-->

<!doctype html>
<html lang="en">
    <style type="text/css">
       body { background: #343A40 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    </style>  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Ionixmon v0.1</title>
  </head>
  
  <body>
    <div class="col-md-6" style="background-color: blue"></div>
    <script src="js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="js/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    {% include 'navbar.html' %}

    <h1></h1>
      <li class="form-inline">
        <form action="" method="post" role="form">
          <input type="hidden" id="deviceIP" name="deviceIP" value={{deviceIP}}>
          <button class="btn btn-primary my-2 my-sm-0" type="submit" name="export_syslog_csv">Export To .CSV</button>
        </form>
      </li>
      <table class="table table-dark">
          <thead>
          <tr>
              <th scope="col">Time</th>
              <th scope="col">IP</th>
              <th scope="col">Message</th>
              <th scope="col">Msg Id</th>
          </tr>
          </thead>
          <tbody>
          {% block syslogmain %}
            {% for entry in syslog %}
              <tr>
                <td>{{entry.time}}</td>
                <td>{{entry.src}}</td>
                <td>{{entry.message}}</td>
                <td>{{entry.msgid}}</td>
              </tr>
            {% endfor %}
          {% endblock %}
          </tbody>
      </table>
  </body>
</html>