<!--
Copyright 2019 Embrionix Design Inc.


Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
-->

<!doctype html>
<html lang="en">
    <style type="text/css">
       body { background: #343A40 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    </style>  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Ionixmon v0.1</title>
  </head>
  
  <body>
    <div class="col-md-6" style="background-color: blue"></div>
    <script src="js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="js/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    {% include 'navbar.html' %}
    
    <h1></h1>    
      <table class="table table-dark">
          <thead>
          <tr>
              <th scope="col">Name</th>
              <th scope="col">IP</th>
              <th scope="col">Telemetry</th>
              <th scope="col">Prometheus</th>
              <th scope="col">Actions</th>
              <th scope="col">Delete</th>
          </tr>
          </thead>
          <tbody>
          {% block main %}
            {% for device in monitoredDevices %}
              <tr>
                <td>{{device.prettyName}}</td>
                <td>{{device.ip}}</td>
                <td>{{device.telemetryAvailable}}</td>
                <td>{{device.prometheus_status}}</td>
                <td>
                  <form action="" method="post" role="form">
                    <input type="hidden" id="devName" name="devName" value={{device.prettyName}}>
                    <button class="btn btn-primary my-2 my-sm-0" type="submit" name="viewSyslog" >Logging</button>
                  </form>
                </td>
                <td>
                  <form action="" method="post" role="form">
                    <input type="hidden" id="containerId" name="containerId" value={{device.prettyName}}>
                    <button class="btn btn-danger my-2 my-sm-0" type="submit" name="deleteMonitor">Delete</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
           {% for device in orphans %}
              <tr>
                <td>{{device}}</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
                <td>
                  <form action="" method="post" role="form">
                    <input type="hidden" id="containerId" name="containerId" value={{device}}>
                    <button class="btn btn-danger my-2 my-sm-0" type="submit" name="deleteMonitor">Delete</button>
                  </form>
                </td>
              </tr>
            {% endfor %}

          {% endblock %}
          </tbody>
      </table>
  </body>
</html>