<!doctype html>
<html lang="en">
    <style type="text/css">
       body { background: #343A40 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    </style>  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Ionixmon v0.1</title>
  </head>
  
  <body>
    <div class="col-md-6" style="background-color: blue"></div>
    <script src="js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="js/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    {% block navbar %}
    <div class="navbar navbar-fixed-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="form-inline">
              <form action="" method="post" role="form">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="viewGraphs">View Devices Graphs</button>
              </form>
            </li>
            <li class="form-inline">
              <form action="" method="post" role="form">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="viewDevices">View Devices Status</button>
              </form>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Monitored Devices
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% for device in monitoredDevices %}
                  <a class="dropdown-item" href="#">{{device.prettyName}}</a>
                {% endfor %}
              </div>
            <li class="form-inline">
              <form action="" method="post" role="form">
                <input class="form-control mr-sm-2" type="input" id="deviceName" name="deviceName" placeholder="Device Name" aria-label="Device Name">
                <input class="form-control mr-sm-2" type="input" id="deviceIp" name="deviceIp" placeholder="Device IP" aria-label="Device IP">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="addDevice">Add</button>
              </form>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    {% endblock %}
    
    <div>
        <iframe src="http://127.0.0.1:3000/d-solo/UG7cH9nWz/embox6-sfp-monitor?orgId=1&refresh=5s&panelId=16" width="900" height="400" frameborder="0"></iframe>
        <iframe src="http://127.0.0.1:3000/d-solo/UG7cH9nWz/embox6-sfp-monitor?orgId=1&refresh=5s&panelId=14" width="900" height="400" frameborder="0"></iframe>
        <iframe src="http://127.0.0.1:3000/d-solo/UG7cH9nWz/embox6-sfp-monitor?orgId=1&refresh=5s&panelId=12" width="900" height="400" frameborder="0"></iframe>
        <iframe src="http://127.0.0.1:3000/d-solo/UG7cH9nWz/embox6-sfp-monitor?orgId=1&refresh=5s&panelId=10" width="900" height="400" frameborder="0"></iframe>
        <iframe src="http://127.0.0.1:3000/d-solo/0lUTlObZz/system?orgId=1&refresh=5s&panelId=2" width="900" height="400" frameborder="0"></iframe>
        <iframe src="http://127.0.0.1:3000/d-solo/0lUTlObZz/system?orgId=1&refresh=5s&panelId=4" width="900" height="400" frameborder="0"></iframe>
    </div>
  </body>
</html>